@import "compass";
@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fdfcf6;
$subColor: #bea300;
$keyColor: #14c0c9;
$fontColor: #4c4c4c;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

/* Header*/

header {
    .top-image{
        background-image:url("../image/img_top.jpg");
        background-size:cover;
        background-position:center center;
        max-width:768px;
        height:250px;
        width:auto;

    }
  .profile {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
    clear: both;
  }
  .site-title {
    font-size: 1.8rem;
    line-height: normal;
    span {
      display: block;
      font-size: 4.2rem;
      color: $keyColor;
    }
  }

  p {
      
    font-size: 1.6rem;
  }
}

/* Contents*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

//SKILLS
#skills{
     background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);    // スキルボックスを縦に並べる
  }
  h2 {
    color: $baseColor;
    margin-bottom: 60px;
  }
  .skill-box {
    @include flex(1);
    margin: 10px 0;                     // 上下にマージン
    padding: 10px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  i {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    background-color: $keyColor;
    font-size: 4.5rem;
    color: #FFF;
    text-align: center;
    @include box-sizing(border-box);
    @include border-radius(50%);
    @extend .block-center;
  }
  h3 {
    @extend .abel;
    @extend .uppercase;
    color: $keyColor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
}


// Contact
#contact {
    .mail-button{
        width:200px;
        font-size:20px;
        text-decoration:none;
        display:block;
        text-align:center;
        @extend .block-center;
        padding:7px 0 7px;
        color:#fff;
        background-color: $keyColor;
        border-radius:10px;
    }
}

/* Footer*/
footer {
  background-color: $subColor;
  padding: 10px 0;
  text-align: center;
  color: #FFF;
}

// PC --------------------------------------------------
@media (min-width: 769px) {
    //Top
    header{
        .top-image{
            margin:0px;
            max-width:100%;
            height:500px;
        }
    }
    //SKILLS
    #skills{
      .container {
          @include flex-direction(row);     // スキルボックスを横に並べる
          justify-content: space-between;
      }
      .skill-box {
          margin: 0 2px;                   // 左右にマージン
        }  
    }
  

  // Contact
  #contact {
    .mail-button{
        &:visited{
            background-color: #0f949b;
        }
        &:hover
        {
            background-color: #0f949b;
        }
    }
  }
}

